<div class="header">
  <h1>Pins - Edit Your Pin</h1>
</div>
<hr/>
<div class="panel panel-default">
  <div class="panel-heading">Edit pin:</div>
  <div class="panel-body">

  <%= render "form" %>


</div>
</div>