<div class="header">
  <h1>Pins - A New Pin</h1>
</div>
<hr/>
<div class="panel panel-default">
  <div class="panel-heading">Create a new pin:</div>
  <div class="panel-body">

  <%= render "form" %>


</div>
</div>