/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Lobster);

div .error {
	label {
	color: #000;
 	font-weight: bold;
 	}
 	ul {
	color: red;
 	}
}

.login {
	margin-top: 10px;
}

.panel {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	.panel-heading {
		font-weight: bold;
		font-size: 25px;
	}
}

button {
	color: #16A085;
}

#pins_list_bottom {
	margin-left: 20px;
}

.repin_form {
	text-align: center;
	#repin_btn {
		margin-top: 20px;
	}
}

