// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_board_well{
	margin: 0 auto;
	margin-top: 50px;
	width: 300px;
	text-align: center;
}

#new_board_back {
	margin-top: 100px;	
}